:root {
  --primary-font-family: "Poppins", sans-serif;
  --primary-color: #b43725;
}

body {
  font-family: var(--primary-font-family);
  margin: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("src/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px;
  text-align: center;
}

header h1 {
  font-size: 85px;
  font-weight: 700;
  line-height: 100px;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 10px;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 10px;
  text-transform: uppercase;
}

header a {
  background: white;
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 100px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 120px 170px;
}

main img {
  max-width: 600px;
}

main h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  text-align: left;
}

main h4 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 24px;
  margin: 0;
  opacity: 0.3;
  text-align: left;
  text-transform: uppercase;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

footer {
  background-image: linear-gradient(
      rgba(161, 41, 30, 0.9),
      rgba(161, 41, 30, 0.9)
    ),
    url("src/footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 50px;
  padding: 50px 170px;
}

footer h6 {
  font-size: 15px;
  font-weight: 700;
  line-height: 0px;
  text-align: left;
}

footer p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  opacity: 0.8;
  text-align: left;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  opacity: 0.8;
  transition: all 250ms ease-in-out;
}

@media (max-width: 1280px) {
  header h1 {
    font-size: 70px;
    line-height: 50px;
  }

  main {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin: 50px;
  }

  main img {
    max-width: 100%;
  }

  footer {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 50px;
  }
}

@media (max-width: 1090px) {
  header h1 {
    font-size: 50px;
    line-height: 50px;
  }

  header h2 {
    font-size: 30px;
  }
}

@media (max-width: 950px) {
  header {
    padding: 50px;
  }

  header h1 {
    font-size: 50px;
    line-height: 50px;
  }

  header h2 {
    font-size: 25px;
  }

  main h2 {
    font-size: 30px;
  }
}

@media (max-width: 740px) {
  header h1 {
    font-size: 35px;
    line-height: 50px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 15px;
  }

  main h2 {
    font-size: 25px;
  }
}

@media (max-width: 630px) {
  main h2 {
    font-size: 20px;
  }
}

@media (max-width: 545px) {
  header {
    padding: 25px;
  }

  header h1 {
    font-size: 25px;
    line-height: 50px;
  }

  header h2 {
    font-size: 15px;
    line-height: 0px;
  }

  header h3 {
    line-height: 0px;
  }

  header a {
    font-size: 10px;
    padding: 8px 25px;
  }

  main {
    margin: 25px;
  }

  main h2 {
    font-size: 30px;
  }
}

@media (max-width: 370px) {
  header h1 {
    font-size: 20px;
  }

  header h2 {
    font-size: 12px;
  }

  header h3 {
    font-size: 12px;
  }

  main p {
    font-size: 12px;
    line-height: 15px;
  }
}
